:root {
    --color-coldwhite: #f0f4f8;
    --color-purewhite: #fff;
    --color-greenwhite: #e0f7ec;
    --color-greenwhite2: #eafae6;
    --color-lightgrey: #ccc;
    --color-grey: #555;
    --color-darkgrey: #333;
    --color-lime: #73dd67;
    --color-green: #4CAF50;
    --color-darkgreen: #3c9740;
    --color-navbar: #4CAF50; 
}